* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.name-input {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background-color: whitesmoke;
}

.input {
  display: flex;
  justify-content: space-around;
}

.container {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: black;
  width: 100vw;
}
.left_section {
  flex: 0.8;
  display: flex;
  flex-direction: column;
}
.video-grid {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  width: 100%;
  align-content: start;
}

.video-grid video {
  width: 100%;
  object-fit: cover;
  height: 400px;
}
.footer {
  background-color: #1c1e20;
  display: flex;
  gap: 5px;
  padding: 5px;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px 5px;
  cursor: pointer;
  color: rgba(231, 213, 213, 0.939);
}
.icons:hover {
  background-color: gray;
}

.chat {
  flex: 0.2;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #1c1e20;
}

.title {
  font-weight: bold;
  padding: 5px;
  color: white;
}
.body-chat {
  flex-grow: 1;
  overflow-y: auto; /* Allows scrolling if content overflows */
  text-align: left;
  color: white;
}

.chat_input {
    display: flex;
    width: 100%;
    padding: 5px;
    align-items: center;  /* Align items vertically */
  }
  
  .chat input {
    cursor: text;
    background-color: #1c1e20;
    flex-grow: 1; /* This makes the input take up remaining space */
    color: white;
    outline: none;
    border: none;
    padding: 8px;
  }
  
  .send {
    background-color: gold;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    width: 100%;
  }