*{
    margin: 0;
}
.container{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-color: black;
    width: 100vw;
}
.video-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 10px;
    width: 90%; 
}
video {
    height: 50vh;
    object-fit: cover; 
}